@model MvcMovie.Models.MovieReview

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Movie Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.movie.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Price)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.movie.ID">Edit</a>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>


<table>
    <tbody>
        <tr>
            <th>
                <h4>Reviews</h4>
            </th>
        </tr>
        @foreach (var item in Model.review)
        {
            <tr>
                <td>
                    @item.MovieReview
                </td>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-lg btn-info" asp-controller="Reviews" asp-action="Create" asp-route-id="@Model.movie.ID">Write a Review</a>
</div>
